@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #775ada;
}

:root {
  font-size: 14px;
}

.p-login {
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #e9e2e2;
}

.blockquote {
  border-left: 4px solid #2d6cdf;
  padding-left: 1rem;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #F6F8FD;
}

.navbar {
  z-index: 999;
}

@media screen and (max-width: 982px) {
  .navbar .navbar-collapse.show {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    width: 80vw;
  }
  .navbar .navbar-collapse.show .navbar-nav {
    height: 100vh;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    border: 2px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar .nav-logo {
  border-radius: 50%;
}

.navbar .navbar-brand {
  font-size: 18pt;
  font-weight: 600;
  color: #0A4678;
}

.navbar .nav-brand.active {
  color: #0A4678;
}

.navbar ul li {
  margin-left: 16px;
}

.navbar ul li .top-nav {
  font-size: 12pt;
  font-weight: 500;
  color: #F6F8FD !important;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.navbar ul li .top-nav.active::after {
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
}

.navbar ul li .top-nav:hover {
  color: #252323 !important;
}

.navbar ul li .top-nav.active {
  color: white !important;
  position: relative;
}

.navbar ul li .top-nav.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  height: 3PX;
}

.mt-r {
  margin-top: 60px;
}

.img-size-responsif {
  background-size: cover;
  background-position: top center;
  position: relative;
}

.img-size-responsif .s-layer {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 1;
  width: 100%;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  background-color: #364f6b;
}

input::-webkit-input-placeholder {
  color: #cacaca !important;
}

input:-ms-input-placeholder {
  color: #cacaca !important;
}

input::-ms-input-placeholder {
  color: #cacaca !important;
}

input::placeholder {
  color: #cacaca !important;
}

.text-scaledown {
  font-size: .8rem;
  color: #7c7a7a;
  font-style: italic;
}

.bg-lapis {
  position: relative;
  border: 2px dashed salmon;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(6px);
}

.bg-lapis::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  z-index: -1;
  left: 0;
  background-color: #2d767f;
  height: 100%;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
}

.z-99 {
  z-index: 999;
}

.navbar.dark {
  background-color: #F6F8FD;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar.dark .nav-brand {
  color: #0A4678;
}

.navbar.dark .top-nav {
  color: #4a84b4 !important;
}

.navbar.dark .top-nav:hover {
  color: #0A4678 !important;
}

.heroes-parent {
  background-size: cover;
  height: 100%;
  margin-top: -71px;
  padding: 0;
}

.heroes-parent .heroes {
  margin-top: 70px;
  padding-top: 175px;
  padding-bottom: 175px;
}

.heroes-parent .heroes .row {
  height: 100%;
}

.heroes-parent .heroes .row h1 {
  position: relative;
  font-size: 5vw;
  font-weight: 800;
  color: #F6F8FD;
  z-index: 99;
}

.heroes-parent::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 750px) {
  .heroes-parent .heroes .row h1 {
    text-align: center;
    font-size: 10vmin;
  }
}

.devisi {
  background-color: #0A4678;
  padding-top: 50px;
  padding-bottom: 50px;
}

.devisi h2 {
  font-size: 4vw;
  font-weight: 800;
  padding-bottom: 50px;
  color: #F6F8FD;
}

@media screen and (max-width: 750px) {
  .devisi h2 {
    font-size: 7vmin;
  }
}

.testimoni .row-testimoni {
  padding-top: 50px;
  padding-bottom: 90px;
  height: 100%;
}

.testimoni .row-testimoni h2 {
  font-size: 4vw;
  font-weight: 800;
  color: #0A4678;
}

.testimoni .row-testimoni .testimoni-anggota {
  height: 450px;
  padding: 36px;
}

.testimoni .row-testimoni .testimoni-anggota .quotes-logo {
  text-align: center;
}

.testimoni .row-testimoni .testimoni-anggota .card {
  border-radius: 25px;
  padding: 32px;
  background-color: #F6F8FD;
}

.testimoni .row-testimoni .testimoni-anggota .card .card-body {
  min-height: 300px;
}

.testimoni .row-testimoni .testimoni-anggota .card .card-body .img-profile-container {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #F6F8FD;
  border-radius: 25px;
  margin-bottom: 16px;
  margin: auto;
}

.testimoni .row-testimoni .testimoni-anggota .card .card-body .img-profile-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimoni .row-testimoni .testimoni-anggota .card .card-body .card-title {
  font-size: 16pt;
  font-weight: 600;
}

.testimoni .row-testimoni .testimoni-anggota .card .card-body .quotes-logo {
  width: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media screen and (max-width: 990px) {
  .testimoni .row-testimoni {
    padding-top: 30px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 750px) {
  .testimoni .row-testimoni {
    padding-top: 40px;
    padding-bottom: 110px;
  }
  .testimoni .row-testimoni h2 {
    font-size: 7vmin;
  }
}

.card {
  position: relative;
}

.card .hightlight {
  padding: .6rem;
  background-color: rgba(192, 192, 192, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: white;
  top: 0;
}

.blog {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 60px;
}

.blog h2 {
  font-size: 4vw;
  font-weight: 800;
  padding: 5%;
  padding-top: 0;
  color: rgba(50, 56, 70, 0.6);
}

.blog .card {
  border-radius: 25px;
  background-color: #4a84b4;
}

.blog .card .card-body .img-container {
  position: relative;
}

.blog .card .card-body .img-container .img-blog {
  border-radius: 25px;
  width: 100%;
}

.blog .card .card-body .img-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  border-radius: 25px;
}

.blog .card .card-body .card-title {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #F6F8FD;
}

.blog .card .card-body .date {
  margin-bottom: 0;
  color: #F6F8FD;
}

.blog .card .card-body a {
  color: #F6F8FD;
  text-decoration: none;
}

.blog .card .card-body a:hover {
  color: #0A4678;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .blog h2 {
    font-size: 7vmin;
  }
}

.tagar {
  background-size: cover;
  height: 100%;
}

.tagar .container {
  padding-top: 180px;
  padding-bottom: 180px;
  height: 100%;
}

.tagar .container h2 {
  font-size: 5vw;
  font-weight: 800;
  color: #F6F8FD;
}

@media screen and (max-width: 750px) {
  .tagar .container h2 {
    font-size: 6vmin;
  }
}

@media (max-width: 576px) {
  .table-responsif {
    display: none;
  }
}

footer {
  background-color: #0A4678;
}

.blog-post.content {
  font-family: 'Raleway', sans-serif;
  padding: 20px 0;
  font-size: 18px;
}

.blog-post.content div {
  font-size: 19px;
  color: #292929;
  font-weight: 300;
}

.blog-post.content p:nth-child(2):first-letter {
  float: left;
  line-height: 35px;
  font-size: 55px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-bottom: -5px;
}

.card-profile {
  position: relative;
}

.card-profile .btn-group {
  gap: 3px;
  position: absolute;
  right: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.random-picker svg {
  -webkit-animation: flipflap 3s infinite ease;
          animation: flipflap 3s infinite ease;
}

.img-flip {
  -webkit-animation: flip 4s infinite alternate;
          animation: flip 4s infinite alternate;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  to {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
  }
}

@keyframes flip {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  to {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
  }
}

.d-none {
  display: none;
}

@-webkit-keyframes flipflap {
  0% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  30% {
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
  }
  50% {
    -webkit-filter: opacity(0.6);
            filter: opacity(0.6);
  }
  70% {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
  }
  100% {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes flipflap {
  0% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  30% {
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
  }
  50% {
    -webkit-filter: opacity(0.6);
            filter: opacity(0.6);
  }
  70% {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
  }
  100% {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

#loading {
  -webkit-animation: berputar 1200ms infinite ease;
          animation: berputar 1200ms infinite ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@-webkit-keyframes berputar {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-3deg) translateX(-10px);
            transform: rotate(-3deg) translateX(-10px);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@keyframes berputar {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-3deg) translateX(-10px);
            transform: rotate(-3deg) translateX(-10px);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

.loader {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

@media (max-width: 768px) {
  .img-lg {
    display: none;
  }
}

@-webkit-keyframes loading {
  0% {
    letter-spacing: 0;
    opacity: 1;
  }
  50% {
    opacity: .8;
    letter-spacing: 2px;
  }
  100% {
    opacity: 0;
    letter-spacing: 4px;
  }
}

@keyframes loading {
  0% {
    letter-spacing: 0;
    opacity: 1;
  }
  50% {
    opacity: .8;
    letter-spacing: 2px;
  }
  100% {
    opacity: 0;
    letter-spacing: 4px;
  }
}

.b-example-divider {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  -webkit-transition: -webkit-transform .35s ease;
  transition: -webkit-transform .35s ease;
  transition: transform .35s ease;
  transition: transform .35s ease, -webkit-transform .35s ease;
  -webkit-transform-origin: .5em 50%;
          transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

.blog-post {
  font-family: 'Roboto', sans-serif !important;
}

.blog-post img {
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5px 0;
  border: 2px dashed #482ff7;
}

.blog-post.full {
  font-family: 'Roboto', sans-serif !important;
}

.blog-post.full img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  max-width: 100%;
  -webkit-transform: scaleX(90%);
          transform: scaleX(90%);
  height: auto;
  border: 2px dashed #482ff7;
}
/*# sourceMappingURL=main.css.map */